/*BASED*/
html {
    /*height: 100%;*/
    /*overflow: hidden;*/
    perspective: 1px;
    transform-style: preserve-3d;
}
body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    overflow-y:scroll ;
    overflow-x:hidden ;

}

input {
    color: #000;
}

a {
    display: block;
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #218294;
    text-decoration: none;
}

ul, li {
    display: block;
    list-style: none;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

header {
    background-color: rgba(125, 66, 244, .8);
}

a.register:hover, a.login:hover {
    color: lightblue;
}

.header_logo {
    font-family: 'Lobster', cursive;
    font-size: 45px;

}

.header_logo span {
    color: #fff;
}

main {
    min-height: calc(100vh - 150px);

}

.menu {
    display: flex;
    justify-content: center;
    /*border-bottom: 5px solid #2a6496;*/
}

.menu__item a {
    padding: 20px 30px;
    border-bottom: 5px solid #2a6496;
    /*margin: 0 15px;*/
}

.menu__item a:hover {

    background: #255625;
    color: white;
}

.news-list {
    display: flex;
    flex-direction: column;
}

/*ПОСТ ПОЛЬЗОВАТЕЛЯ*/

.media {
    display: flex;
    width: 100%;
    padding: 15px;
}

/*Тело поста*/
.media-body {
    display: block;
    width: 100%;
}

.media-body h4 {
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    width: 400px;
}

/*Тело поста*/

/*Аватар поста*/
.media a.pull-left {
    width: 120px;
    height: 120px;
    margin-right: 15px;
    border-radius: 50%;
    /*border:1px solid #1b6d85;*/
    position: relative;
}

.media a.pull-left img {
    /**/
    width: 100%;
    position: absolute;
    z-index: -1;
    transform: scale(.8);
    transition: .6s ease;
}

.media a.pull-left:hover img.media-object {
    transform: scale(1);
    transition: .6s ease;

}

/*Аватар поста*/

/*ПОСТ ПОЛЬЗОВАТЕЛЯ*/

.pagination {
    color: #666;
    font-size: 22px;
}

.media img {
    display: flex;
    width: 100px;
    height: 100px;
}

.registration {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.login, .register {
    width: 120px;
    margin-top: 35px;
    color: #fff;
}

footer {
    background-color: rgba(125, 66, 244, .8);
    height: 150px;
    text-align: center;
    color: white;
}

/*MAIN*/
/*.green {
    border: 1px solid green;
}

.user-photo {
    width: 100%;
}

.user-photo a {
    display: block;
    width: 100%;
    height: 156px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    background: rgba(125, 66, 244, .4);
    margin-top: 25px;
}

.user-photo a img.user__img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.8);
    transition: .4s ease;
    display: block;
    border-radius: 50%;
}
.user-photo a:hover {
    background: none; 
    border: none;
    transition: .5s ease;
}
.user-photo a:hover img {
    transform: translate(-50%, -50%) scale(1.1);
    transition: .4s ease;
}

.user-name {
    display: flex;
}

.user-name h4 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

.user-name img {
    width: 20px;
    height: 20px;
    margin-top: 33px;
    margin-left: 8px;
}

.user-post {
    margin-bottom: 25px;
}*/

/*------MAIN*/

/*MAIN*/
nav {
    padding-bottom: 75px;
}

main {
    perspective: 1px;

    padding-bottom: 100px;
    background: rgba(0, 100, 100, .09);
    /*transform-style: preserve-3d;*/
    /*perspective: 1px;*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*transition: 1s;*/
    /*background: url("https://img00.deviantart.net/df12/i/2015/119/c/d/newspaper_youtube_background_by_fragspot-d3i2shw.png");*/
}

/*main::before {*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: -1;*/
    /*transform-origin: center;*/
    /*min-height: 100%;*/
    /*width: 100%;*/
    /*background: url("http://www.talsu.kg/wp-content/uploads/2018/05/filter-bg.jpg") no-repeat center top / cover;*/
    /*transform: translateZ(-1px) scale(2);*/
    /*transition: 1s;*/
/*}*/

.black {
    border: 1px solid lightgrey;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    background: rgba(255, 255, 255, .8);
}

.user-photo {
    width: 100%;
}

.user-photo a {
    display: block;
    width: 150px;
    height: 156px;
    border: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    border-radius: 50%;
    position: relative;
    background: rgba(125, 66, 244, .4);
    margin-top: 25px;
    margin-bottom: 25px;
}

.user-photo a img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.8);
    transition: .4s ease;
    display: block;
    border-radius: 50%;
}

.user-photo a:hover {
    background: none;
    border: none;
    transition: .5s ease;
}

.user-photo a:hover img {
    transform: translate(-50%, -50%) scale(1);
    transition: .4s ease;
    border-radius: 5px;
    border: 1px solid #5e5e5e;
}

.user-name {
    display: flex;
}

.user-name h4 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 8px;
}

.user-name img {
    width: 21px;
    height: 21px;
    margin-top: 31px;
    margin-left: 8px;
}

.user-post {
    margin-bottom: 25px;
}

.user-post p {
    font-family: sans-serif;
    font-size: 16px;
}

/*------MAIN*/

/*Admin*/

.user-admin {
    background: rgba(83%, 88%, 91%, .2);
    min-height: calc(100vh - 150px);
}

.user-admin__menu li {
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 20px;
    transition: .2s ease;
}

.user-admin__menu li:first-child {
    margin-top: 50px;

}

.user-admin__menu li:hover {
    font-size: 25px;
    transition: .2s ease;
}

a.logout {
    display: block;
    margin-top: 25px;
    margin-left: 40px;
    border: 2px solid black;
    width: 90px;
    padding: 10px 15px;
    transition: .3s ease-in-out;
    border-radius: 5px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
}

a.logout:hover {
    background-color: rgba(125, 66, 244, .8);
    color: white;
    transition: .2s;
}

/*-----Admin*/

/*Registration*/
section.registration {
    /*padding: 80px 0;*/
    min-height: calc(100vh - 250px);
    padding-top: 25px;
}

form.form-registration {
    box-sizing: border-box;
    border: 1px solid darkblue;
    padding: 20px 15px;
    text-align: left;
    width: 500px;
    margin: 25px auto;
    margin-top: 45px;
    border-radius: 10px;
}

form.form-registration label {
    margin-bottom: 12px;
}

form.form-registration input {
    padding: 15px 15px;
    margin-bottom: 25px;
    width: 100%;
}

button.btn-control {
    display: block;
    width: 100%;
    margin: 0 auto;
    transition: .3s ease-in-out;
}

button.btn-control:hover {
    background: rgba(0, 0, 0, .25);
    transition: .2s ease;
}

/*-----Registration*/

/*Login*/

section.user-login {
    /*background: coral;*/
    padding-bottom: 124px;
    padding-top: 25px;
}

form.form-login {
    box-sizing: border-box;
    border: 1px solid darkblue;
    padding: 20px 15px;
    text-align: left;
    width: 500px;
    margin: 25px auto;
    margin-top: 45px;
    border-radius: 10px;
    font-size: 20px;
}

form.form-login label {
    margin-bottom: 12px;
}

form.form-login input {
    padding: 15px 15px;
    margin-bottom: 10px;
    width: 100%;
}

button.btn-control {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    transition: .3s ease-in-out;
}

button.btn-control:hover {
    background: rgba(0, 0, 0, .25);
    transition: .2s ease;
}

a.logout-reg {
    display: block;
    /*border: 1px solid black;*/
    width: 500px;
    padding: 10px 15px;
    transition: .3s ease-in-out;
    border-radius: 5px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    /*transition: .35s ease-in-out;*/
    background: #ddd;
    /*margin-bottom: 50px;*/
}

a.logout-reg:hover {
    background-color: rgba(125, 66, 244, .8);
    color: white;
    transition: .3s ease;
}

/*-----Login*/

/*Create News*/
section.createnews {
    /*background: green;*/
    min-height: calc(100vh - 270px);
}

h2.createnews {
    display: block;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    /*text-transform: uppercase;*/
    /*letter-spacing: 2px;*/
    font-weight: 300;
    border-bottom: 5px solid rgba(125, 66, 244, .8);
    width: 500px;
    padding-bottom: 5px;
    border-radius: 5px;
}

form.form-create {
    display: block;
    box-sizing: border-box;
    border: 1px solid darkblue;
    padding: 20px 15px;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
}

input[type="file"] {
    margin: 10px 0;
    margin-top: 20px;
}

form.form-create textarea {
    height: 150px;
}

/*Create News*/

/*ChangeCurrentNews*/

section.change_currentnews {
    /*background: green;*/
    min-height: calc(100vh - 270px);
}

h2.createnews {
    display: block;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    /*text-transform: uppercase;*/
    /*letter-spacing: 2px;*/
    font-weight: 300;
    border-bottom: 5px solid rgba(125, 66, 244, .8);
    width: 500px;
    padding-bottom: 5px;
    border-radius: 5px;
}

form.change_current_news {
    display: block;
    box-sizing: border-box;
    border: 1px solid darkblue;
    padding: 20px 15px;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
}

input[type="file"] {
    margin: 10px 0;
    margin-top: 20px;
}

form.change_current_news textarea {
    height: 150px;

}

/*------ChangeCurrentNews*/

/*Sorting*/

section.sorting {
    background: rgba(83%, 88%, 91%, .2);
    padding: 15px 0;
}

h2.sorting {
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

span.sorting {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
}

.sorting-menu {
    /*  display: flex;
      justify-content: center;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 300px;
}

.sorting-menu li {
    /*background: rgba(0,0,0,.3);*/
    /*margin: 0 15px;*/
    border-bottom: 5px solid rgba(125, 66, 244, .8);
    margin-bottom: 10px;
}

.sorting-menu li a {
    font-family: sans-serif;
    font-size: 18px;
    padding: 5px 10px;

}

.sorting-menu li:first-child {
    width: 101px;
}

.sorting-menu li:nth-child(2) {
    width: 131px;
}

.sorting-menu li:last-child {
    width: 242px;
}

/*Sorting*/

/*Logout*/
.login_success {
    background: rgba(83%, 88%, 91%, .2);
    padding: 15px 0;
    min-height: 60vh;
}

h3.hello {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid rgba(125, 66, 244, .8);

}

a.logout-success {
    display: block;
    margin: 110px auto;
    border: 2px solid black;
    width: 90px;
    padding: 10px 15px;
    transition: .3s ease-in-out;
    border-radius: 5px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
}

a.logout-success:hover {
    background-color: rgba(125, 66, 244, .8);
    color: white;
    transition: .2s;
}

/*-----Logout*/

/*.bg_top_img {*/
    /*background: url("http://www.talsu.kg/wp-content/uploads/2018/05/filter-bg.jpg") no-repeat center top / cover;*/
    /*position: fixed;*/
/*}*/
/*div.user-photo {*/
    /*width:100px;*/
    /*height: ;px*/
/*}*/

/*section.user-post {*/
    /*background: url(http://www.talsu.kg/wp-content/uploads/2018/05/filter-bg.jpg);*/
    /*position: fixed;*/
/*}*/
